* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-description {
  margin-bottom: 10px;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

.sale-mark {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #eee;
  background-color: red;
  display: inline-block;
  padding: 3px 10px;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: -38px;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  width: 20px;
  height: 20px;
}

.black-color {
  background-color: #000;
}

.blue-color {
  background-color: #0077b6;
}

.red-color {
  background-color: #d62828;
}

.yellow-color {
  background-color: #ffb703;
}

.green-color {
  background-color: #52b69a;
}

.purple-color {
  background-color: #9d8189;
}

.product-img {
  height: 250px;
  width: 250px;
}

.price-and-shipping {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info {
  /* flex: 1 1 0; */
}

.product-details {
  margin-right: 20px;
  /* flex: 1 1 0; */
}

/* .product-card {
  display: flex;
  gap: 40px;
} */

.product {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  grid-column: 1 / -1;
}

.add-cart {
  grid-column: 1 / -1;
}
